[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uildArtifacts/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Evidence/
outputs/
Packages/com.bytedance.pico.xr/
.utmp/
.DS_Store
*.csproj
*.sln
*.user
*.apk
*.aab
*.keystore
*.jks
*.p12
no_coaster_*.log
